[submodule "hx4k_dev_board/SOICbite"]
	path = hw/SOICbite
	url = https://github.com/SimonMerrett/SOICbite.git
[submodule "hw/outputs/kicad-jlcpcb-bom-plugin"]
	path = hw/outputs/kicad-jlcpcb-bom-plugin
	url = https://github.com/joshtyler/kicad-jlcpcb-bom-plugin
[submodule "hdl/loopback_test/hdl_common"]
	path = hdl/hdl_common
	url = https://github.com/joshtyler/hdl_common.git
[submodule "sw/spi_prog"]
	path = sw/spi_prog
	url = https://github.com/joshtyler/spi_prog.git
[submodule "hdl/zephyr_test/picorv32"]
	path = hdl/zephyr_test/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "hdl/zephyr_test/uip"]
	path = hdl/zephyr_test/uip
	url = https://github.com/adamdunkels/uip.git
