# HX8k Dev board constraints

set_io leds[0] 110
set_io leds[1] 112
set_io leds[2] 113
set_io leds[3] 114
set_io leds[4] 115
set_io leds[5] 116
set_io leds[6] 117
set_io leds[7] 118

set_io clk_raw 49

set_io uart_tx 52
set_io uart_rx 55

set_io cts_n 94
set_io rts_n 95

set_io eth_phyrst 93

set_io mosi 67
set_io miso 68
set_io sck  70
set_io ss  71
set_io hold_n  61
set_io wp_n   62
