# manila iCE constraints

set_io clk 49

set_io leds[0] 110
set_io leds[1] 112
set_io leds[2] 113
set_io leds[3] 114
set_io leds[4] 115
set_io leds[5] 116
set_io leds[6] 117
set_io leds[7] 118

set_io buttons[0] 63
set_io buttons[1] 64

set_io pmod0[0] 119
set_io pmod0[1] 120
set_io pmod0[2] 121
set_io pmod0[3] 122
set_io pmod0[4] 124
set_io pmod0[5] 125
set_io pmod0[6] 128
set_io pmod0[7] 129

set_io pmod1[0] 136
set_io pmod1[1] 137
set_io pmod1[2] 138
set_io pmod1[3] 139
set_io pmod1[4] 141
set_io pmod1[5] 142
set_io pmod1[6] 143
set_io pmod1[7] 144

set_io uart_tx    52
set_io uart_rx    55
set_io uart_cts_n 56
set_io uart_rts_n 60

set_io spi_mosi   67
set_io spi_miso   68
set_io spi_sck    70
set_io spi_ss     71
set_io spi_wp_n   61
set_io spi_hold_n 62

set_io i2c_scl  130
set_io i2c_wc_n 134
set_io i2c_sda  135

set_io eth_phyrst_n  93
set_io eth_rxdv      73
set_io eth_gtxclk    88
set_io eth_txen      90
set_io eth_txer      104
set_io eth_rxclk     79
set_io eth_rxer      84
set_io eth_col       85
set_io eth_cs        87
set_io eth_txclk     97
set_io eth_mdio      105
set_io eth_mdc       107
set_io eth_pme_int_n 106
set_io eth_rxd[0]    74
set_io eth_rxd[1]    75
set_io eth_rxd[2]    76
set_io eth_rxd[3]    78
set_io eth_rxd[4]    80
set_io eth_rxd[5]    81
set_io eth_rxd[6]    82
set_io eth_rxd[7]    83
set_io eth_txd[0]    91
set_io eth_txd[1]    94
set_io eth_txd[2]    95
set_io eth_txd[3]    96
set_io eth_txd[4]    98
set_io eth_txd[5]    99
set_io eth_txd[6]    101
set_io eth_txd[7]    102

set_io sdram_clk      23
set_io sdram_cke      21
set_io sdram_cs_n     19
set_io sdram_ras_n    20
set_io sdram_cas_n    22
set_io sdram_we_n     24
set_io sdram_bs[0]    17
set_io sdram_bs[1]    15
set_io sdram_addr[0]  9
set_io sdram_addr[1]  7
set_io sdram_addr[2]  3
set_io sdram_addr[3]  1
set_io sdram_addr[4]  2
set_io sdram_addr[5]  4
set_io sdram_addr[6]  8
set_io sdram_addr[7]  10
set_io sdram_addr[8]  12
set_io sdram_addr[9]  16
set_io sdram_addr[10] 11
set_io sdram_addr[11] 18
set_io sdram_data[0]  47
set_io sdram_data[1]  44
set_io sdram_data[2]  42
set_io sdram_data[3]  39
set_io sdram_data[4]  37
set_io sdram_data[5]  33
set_io sdram_data[6]  31
set_io sdram_data[7]  28
set_io sdram_data[8]  29
set_io sdram_data[9]  32
set_io sdram_data[10] 34
set_io sdram_data[11] 38
set_io sdram_data[12] 41
set_io sdram_data[13] 43
set_io sdram_data[14] 45
set_io sdram_data[15] 48
set_io sdram_dqm[0]   26
set_io sdram_dqm[1]   25
